[{{ php_fpm_pool_name }}]
; {{ ansible_managed }}
user = {{ php_fpm_pool_user }}
group = {{ php_fpm_pool_group }}

listen = {{ php_fpm_pool_listen }}

listen.owner = {{ php_fpm_pool_user }}
listen.group = {{ php_fpm_pool_group }}
;listen.mode = 0660
 
pm = dynamic
pm.max_children = 15
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 15

pm.status_path = /status
ping.path = /ping

;php_admin_value[sendmail_path] = /usr/sbin/sendmail -t -i -f www@my.domain.com
php_admin_value[cgi.fix_pathinfo] = false
;php_admin_value[error_log] = /var/log/fpm-php.www.log

php_admin_flag[log_errors] = on

;
; ansible configured options
;
{% for section in php_fpm_pool_config %}
{% for option in php_fpm_pool_config[section] %}
{{ section }}[{{ option }}] = {{ php_fpm_pool_config[section][option] }}
{% endfor %}
{% endfor %}
